.page-header
  %h1 Edit Dispute

= form_for @dispute, :url => dispute_path(@dispute), :html => { :class => "edit_dispute form-horizontal", :id => "edit_dispute" } do |f|
  %input{:name => "_method", :type => "hidden", :value =>"put"}
  = render :partial => "form", :locals => {:f => f}
